{% extends "base.html" %}
{% block page_class %}home{% endblock %}
{% block content %}
<section id="content">
    <div id="frontpage--links">
        {% for title, link in HOMEPAGE_MENUITEMS[PAGE_LANG] %}
        <a href="{{ link }}">{{ title }}</a><br />
        {% endfor %}
    </div>
    {% block content_title %}
    {% endblock %}
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/coverGraph.svg" class="coverGraph" />
    <section class="home--left">
        <h1>{{ SITENAME }}</h1>
        <h2>{{ HOMEPAGE_TITLES[PAGE_LANG] }}</h2>
        <h2>{{ HOMEPAGE_AUTHORS[PAGE_LANG] }}</h2>
        <p>{{ HOMEPAGE_INTROS[PAGE_LANG] }}</p>
    </section>
    <section class="home--right">
        <ul id="page-list">
            {% for page in pages: %}
                {% if page.show_in_menu == True or page.show_in_menu.lower == 'true' %}
                    <li>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
</section><!-- /#content -->
{% endblock content %}
{% block sketch %}

{% endblock sketch %}
